@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #01906A;
    background-image: url("/assets/images/tunnaduong_cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px;
}

@media screen and (min-width: 780px) {
    body {
        height: 421px;
    }
}

@media screen and (min-width: 990px) {
    body {
        height: 445px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        height: 517px;
    }
}

@media screen and (min-width: 1570px) {
    body {
        height: 557px;
    }
}

@media screen and (min-width: 1850px) {
    body {
        height: 600px;
    }
}

center {
    position: absolute;
    margin: 145px auto;
    left: 0;
    right: 0;
}

h1 {
    font-size: 30px;
    font-weight: 100;
    color: white;
    letter-spacing: 3px;
}

.btn:hover {
    background-color: rgba(100, 100, 100, 0.53);
    color: white;
}

.btn:active {
    background-color: rgba(100, 100, 100, 0.53);
    color: white;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.86);
    font-size: large;
    background-color: rgba(255, 255, 255, 0.53);
    margin-bottom: 10px;
    max-width: 300px;
    transition-duration: 300ms;
    font-weight: 500;
    color: black;
    cursor: pointer;
    user-select: none;
}

.btn-primary:hover {
    background-color: #05ca89;
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.86);
}

.btn-primary:active {
    background-color: #05ca89;
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.86);
}

.btn-primary {
    background-color: white;
}

h2 {
    font-size: medium;
    font-weight: 500;
    color: white;
    overflow: hidden;
    text-align: center;
}

h2:before,
h2:after {
  background-color: rgba(255, 255, 255, 0.63);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 110px;
}

h2:before {
    right: 0.7em;
    margin-left: -50%;
}

h2:after {
    left: 0.7em;
    margin-right: -50%;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    color: white;
    font-size: 40px;
}

.social i {
    transition-duration: 300ms;
    cursor: pointer;
}

.social i:hover {
    color: rgba(255, 255, 255, 0.63);
}